@font-face{
    font-family: 'unicodemono';
    src: url('assets/fonts/unicodemono/GNUFreeMono.woff');
}
@font-face{
    font-family: 'sharetechmono';
    src: url('assets/fonts/sharetechmono/regular.ttf');
}

body {
    background-color: white;
    color: black;
    font-family: 'sharetechmono', 'unicodemono', monospace;
    margin: 0;
    user-select: none;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
*::-webkit-scrollbar {
    display: none;
}

section {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: none;
    overflow: hidden;
}
.centered{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
}
img.centered{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: auto;
}
.hidden {
    display: none;
}
#enterlogo {
    height: 0vh;
    overflow:hidden;
    background-color: black;
    clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
}
#mainmenu h1 {
    font-size: 20vh;
}

@media (prefers-color-scheme:dark){
    body{
        filter: invert(100%);
        background-color: black;
    }
}
.nofilter {
    filter: none;
}