@font-face{
    font-family: 'unicodemono';
    src: url('assets/fonts/unicodemono/GNUFreeMono.woff');
}
@font-face{
    font-family: 'sharetechmono';
    src: url('assets/fonts/sharetechmono/regular.ttf');
}

body {
    background-color: white;
    color: black;
    font-family: 'sharetechmono', 'unicodemono', monospace;
    margin: 0;
    user-select: none;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
body.dark {
    filter: invert(100%);
    background-color: black;
}
*::-webkit-scrollbar {
    display: none;
}

section {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: none;
    overflow: hidden;
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: none;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.6);
}
#pausemenu h1 {
    font-size: 5vh;
    text-decoration: underline;
}
.centered{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
}
img.centered{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: auto;
}
.hidden {
    display: none;
}
#enterlogo {
    height: 0vh;
    overflow:hidden;
    background-color: black;
    clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
}
#mainmenu h1 {
    font-size: 10vh;
    margin: 0;
}
#menubuttons {
    opacity: 0;
    margin: 0;
}

button {
    display: inline-block;
    border: 1px solid black;
    border-radius: 5px;
    padding: 1rem 2rem;
    text-decoration: none;
    background: white;
    color: black;
    font-family: 'unicode-mono', monospace;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    transition: border 150ms linear, margin 150ms linear;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 4px;
}
button.major {
    background: black;
    color: white;
}
button:hover {
    border: 4px solid black;
    margin: 0;
}
button.topleft {
    position: absolute;
    top: 1em;
    left: 1em;
}
section h1 {
    text-align: center;
}
.settings {
    margin-left: 1em;
    width: fit-content;
}

@media (prefers-color-scheme:dark){
    body:not(.light) {
        filter: invert(100%);
        background-color: black;
    }
}
.nofilter {
    filter: none;
}

input[type="text"] {
    margin: 0;
    padding: 0;
    border: none;
    border-bottom: 2px solid black;
    text-decoration: none;
    background: white;
    color: black;
    font-family: 'sharetechmono', 'unicodemono', monospace;
    font-weight: bold;
    font-size: inherit;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: text;
}
input[type="number"] {
    margin: 0;
    padding: 0;
    border: none;
    border-bottom: 2px solid black;
    text-decoration: none;
    background: white;
    color: black;
    font-family: 'sharetechmono', 'unicodemono', monospace;
    font-weight: bold;
    font-size: inherit;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-align: right;
    cursor: text;
}
input[type=number]::-webkit-inner-spin-button {
    opacity: 1
}
input[type=checkbox]{
    appearance: none;
    width: 3em;
    height: 1.2em;
    border: 2px solid black;
    margin: 0;
    border-radius: 0.6em;
    cursor: pointer;
}
input[type=checkbox]:checked{
    background-color: black;
}
.toggleslider{
    height: 0;
}
.toggleslider::before {
    display: block;
    position: relative;
    background-color: black;
    content: "";
    top: 0.15em;
    height: 0.7em;
    left: 0.25em;
    transition: .4s;
    width: 0.7em;
    border-radius: 50%;
    cursor: pointer;
  }
  
  .toggleslider:has(+ input:checked)::before {
    transform: translateX(1.25em);
    background-color: white;
  }
  input[type=button]{
    appearance: none;
    font-family: 'sharetechmono', 'unicodemono', monospace;
    font-weight: bold;
    font-size: inherit;
    border: 1px solid black;
    background-color: white;
    cursor: pointer;
  }