@font-face{
	/*Credit to http://www.gnu.org/software/freefont/ for their FreeMono font.*/
	font-family: 'unicode-mono';
	src: url("/assets/GNUFreeMono.woff");
}
:root {
  --bg: #ffffff;
  --fg: #000000;
  --ac: blue;
  --dark: 0;
}
@media (prefers-color-scheme: dark) {
  :root {
    --bg: #121212;
    --fg: #ffffff;
    --ac: magenta;
    --dark: 1;
  }
}

body{
	font-family: unicode-mono, monospace;
	overflow-x: hidden;
  margin:0;
  height:100vh;
  width: 100%;
  overflow:scroll;
  display:flex;
  flex-direction:column;
  background-color: var(--bg);
  color: var(--fg);
}
*::-webkit-scrollbar{
  display:none;
}
hr{
	border-top: 3px solid var(--fg);
}
#cutscene-overlay{
	position: fixed;
	display: none;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
  background-color: rgba(0,0,0,0.5);
}
#main-menu {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: var(--bg);
  text-align: center;
  overflow: scroll;
}

button {
  display: inline-block;
  border: 1px solid var(--fg);
  border-radius: 5px;
  padding: 1rem 2rem;
  margin: 0;
  text-decoration: none;
  background: var(--bg);
  color: var(--fg);
  font-family: 'unicode-mono', monospace;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  transition: transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}
button.major {
  background: var(--fg);
  color: var(--bg);
}
button:hover {
  transform: scale(1.1);
}

.screen {
  position: absolute;
  text-align: center;
  width: 100%;
  height: 100%;
  display: none;
}
#loading h1 {
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translate(0, -50%);
  font-size: 4em;
}
#loading h1 span {
  font-size: .8em;
}

#init {
  background: no-repeat center/150% url("/assets/micro_favicon.svg");
  color: white;
}
#init button {
  background: black;
  color: white;
  border-color: white;
}
#init button.major {
  background: white;
  color: black;
}
#init div {
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translate(0, -50%);
}
#init h1 {
  font-size: 4em;
}
#init h1 span {
  font-size: .8em;
}
#save-select .save {
  display: inline-block;
  border: 1px solid var(--fg);
  text-align: left;
  width: 80%;
  padding: 10px;
  margin-bottom: 10px;
}
.backtoinit {
  position: fixed;
  top: 10px;
  left: 10px;
}
.save button {
  float: right;
  margin-right: 3px;
}
.editable-title {
  margin: 0;
  padding: 0;
  border: none;
  border-bottom: 2px solid var(--fg);
  text-decoration: none;
  background: var(--bg);
  color: var(--fg);
  font-family: 'unicode-mono', monospace;
  font-weight: bold;
  font-size: inherit;
  cursor: pointer;
  text-align: center;
  transition: transform 150ms ease;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.save h2 .tag {
  height: 30px;
  width: 30px;
  display: inline-block;
  float: right;
  padding-right: 10px;
  user-select: none;
  filter: invert(var(--dark))
}
#game{
  flex: 1 1 auto;
  overflow:scroll;
}
#info{
  flex: 1 0 auto;
}
#bottom-bar{
  height:15vh;
  float:bottom;
}
#gametime{
  position:absolute;
  bottom:0;
  left:0;
}
#controlhelp{
  position:absolute;
  bottom:0;
  right:0;
}
.wrap{
  width: 100%;
	word-break: break-all;
}

dialog {
  position: fixed;
  top:50%;
  transform: translate(0, -50%);
  background: var(--bg);
  color: var(--fg);
  border: 2px solid var(--fg);
}

a {
  color: var(--ac);
}

.setting {
  width: calc(100% - 20px);
  text-align: left;
  padding: 10px;
  font-weight: bold;
  font-size: 20px;
}
.setting button {
  float: right;
  margin-left: 3px;
}

.trailer {
  background-color: black;
}

::selection {
  background-color: var(--fg);
  color: var(--bg);
  fill: var(--bg);
}
#gameworld {
  line-height: 0.6em;
}
#beginning, #gameworld {
  user-select: none;
}